## Lecture05 Assignment

1 ) Create a Python function to return the grade of each student. The following is input, an example of a command, and its output. (2 points)

Grading system:
1. The score greater than or equal to 90 is "A"
2. The score greater than or equal to 80 is "B"
3. The score greater than or equal to 70 is "C" 
4. The score greater than or equal to 60 is "D" 
4. The score less than 60 is "F"

In [2]:
# Input; please run to generate input
students = {'Thomas': 51, 'Lillian': 93, 'Robert': 78, 'Kathryn': 33, 
            'Virginia': 30, 'Marco': 59, 'James': 33, 'Otto': 99, 
            'Beau': 78, 'Leon': 33, 'Edward': 93, 'Chana': 58, 
            'Trisha': 32, 'Ernest': 42, 'Marcus': 67, 'Grace': 94, 
            'Debra': 54, 'Jill': 93, 'Brenda': 34, 'Agnes': 81, 
            'Maria': 76, 'Greg': 95, 'Katherine': 96, 'Linda': 33, 
            'David': 80, 'Leo': 59, 'Timothy': 99, 'Tina': 98, 
            'Jason': 64, 'Ryan': 95, 'Yoshiko': 56, 'Joanne': 91, 
            'Gladys': 55, 'Teresa': 75, 'Jesse': 33, 'Byron': 100, 
            'Patricia': 100, 'Kirk': 39, 'Tom': 87, 'Christopher': 65, 
            'Stephanie': 53, 'Carla': 51, 'Irma': 67, 'Dorothy': 93, 
            'Heather': 69, 'Margaret': 54, 'Heriberto': 95, 'Charles': 85}

In [3]:
# Please create function to grade the students
def grading(score:int)->str:
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    else:
        return "F"
    # grade = "A" if score >= 90 else "B" if score >= 80 else "C" if score >= 70 else "D" if score >= 60 else "F"
    # return grade

In [4]:
# Expected output
print('Lillian:', grading(students['Lillian']))
print('Tom:',grading(students['Tom']))
print('Teresa:',grading(students['Teresa']))
print('Marcus:',grading(students['Marcus']))
print('Yoshiko:',grading(students['Yoshiko']))

Lillian: A
Tom: B
Teresa: C
Marcus: D
Yoshiko: F

---

2 ) Using input and grading function from Assignment 1, please print out names and grades of the students who did not receive a "F" grade using the For-Loop statment and if statement as seen in the result below. (3 points) Hint: for and if statement and string format.

In [5]:
# Expected output

## Use for-loop to print out the result
print(f'Student\'s Name\t got\t Grade')
for stu in students.items():
    if grading(stu[1]) != "F":
        print(f'{stu[0]:^15s}\t got\t {grading(stu[1])}')

## Filter out grade of "F"

Student's Name	 got	 Grade
    Lillian    	 got	 A
    Robert     	 got	 C
     Otto      	 got	 A
     Beau      	 got	 C
    Edward     	 got	 A
    Marcus     	 got	 D
     Grace     	 got	 A
     Jill      	 got	 A
     Agnes     	 got	 B
     Maria     	 got	 C
     Greg      	 got	 A
   Katherine   	 got	 A
     David     	 got	 B
    Timothy    	 got	 A
     Tina      	 got	 A
     Jason     	 got	 D
     Ryan      	 got	 A
    Joanne     	 got	 A
    Teresa     	 got	 C
     Byron     	 got	 A
   Patricia    	 got	 A
      Tom      	 got	 B
  Christopher  	 got	 D
     Irma      	 got	 D
    Dorothy    	 got	 A
    Heather    	 got	 D
   Heriberto   	 got	 A
    Charles    	 got	 B

---

3 ) From assignment 2, please count and list the students who got grade "A" and "B". (3 point). Hint: for, dict, string format, if statements.

In [6]:
# Expected output
## Create dictionary for collecting 
## student with grade of "A" and "B"
count_A = 0
count_B = 0
a_name = []
b_name = []
for ab in students.items():
    if grading(ab[1]) == "A":
        count_A += 1
        a_name.append(ab[0])
    elif grading(ab[1]) == "B":
        count_B += 1
        b_name.append(ab[0])

#for ab_names in students.items():

print(f'Grade\t Number\t Student\'s Name')
print(f'A\t {count_A}\t {",".join(a_name)}')
print(f'B\t {count_B}\t {",".join(b_name)}')


## Print out

Grade	 Number	 Student's Name
A	 15	 Lillian,Otto,Edward,Grace,Jill,Greg,Katherine,Timothy,Tina,Ryan,Joanne,Byron,Patricia,Dorothy,Heriberto
B	 4	 Agnes,David,Tom,Charles

---

4 ) Please print out the students who got the minimum and maximum score in each grade ("A", "B", "C", "D", "F"). (6 points)

In [7]:
## create dictionary variable
out = dict()

grades = ['A', 'B', 'C', 'D', 'F']
for grade in grades:
    out[grade] = []
#print(out)

for name, grade in students.items():
    student_grade  = grading(grade)
    #print(student_grade)
    out[student_grade].append((name, grade))
#print(out)  

## Find Max. and Min. of each grade
for n in out.items():
    #print("Grade:", n[0]) # n[0] -> grade (A, B, C, D, E, F)
    # print("Students:", n[1])
    max_grade = max(n[1], key=lambda x: x[1])  # n[1] -> (name, score) x[1] ->score, x[0] ->name
    min_grade = min(n[1], key=lambda x: x[1])
    max_names = [x[0] for x in n[1] if x[1] == max_grade[1]] 
    min_names = [x[0] for x in n[1] if x[1] == min_grade[1]] 

    #print(max_names, min_names)
    for name in max_names:
        print(f"{n[0]}: Max.: {name} got score of {max_grade[1]}")
    print(f"-------------")
    for name in min_names:
        print(f"{n[0]}: Min.: {name} got score of {min_grade[1]}")
    print(f"=============")

A: Max.: Byron got score of 100
A: Max.: Patricia got score of 100
-------------
A: Min.: Joanne got score of 91
=============
B: Max.: Tom got score of 87
-------------
B: Min.: David got score of 80
=============
C: Max.: Robert got score of 78
C: Max.: Beau got score of 78
-------------
C: Min.: Teresa got score of 75
=============
D: Max.: Heather got score of 69
-------------
D: Min.: Jason got score of 64
=============
F: Max.: Marco got score of 59
F: Max.: Leo got score of 59
-------------
F: Min.: Virginia got score of 30
=============

In [98]:
# Expected output

## create dictionary variable
# out = dict()

# grades = ['A', 'B', 'C', 'D', 'F']
# for grade in grades:
#     out[grade] = []

# #print(out)

# for name, grade in students.items():
#     student_grade  = grading(grade)
#     #print(student_grade)
#     out[student_grade].append((name, grade))

#print(out)  

# for n in out.items():
#     print(n[1])
#     max_grade = max(out.items(n[1]), key=lambda x:x[1][1])
#     print(max_grade)
    # max_score = max(score[n[1]] for score in out[grades])
    # print(max_score)

## Find Max. and Min. of each grade
# for n in out.items():
#     #print("Grade:", n[0]) # n[0] -> grade (A, B, C, D, E, F)
#     # print("Students:", n[1])
#     max_grade = max(n[1], key=lambda x: x[1])  # n[1] -> (name, score) x[1] ->score
#     min_grade = min(n[1], key=lambda x: x[1])
#     max_names = [x[0] for x in n[1] if x[1] == max_grade[1]] 
#     min_names = [x[0] for x in n[1] if x[1] == min_grade[1]] 
#     #print(max_names, min_names)
#     #     max_student = 
#     for name in max_names:
#         print(f"{n[0]} Max.: {name} got score of {max_grade[1]}")
    
#     print(f"-------------")
#     for name in min_names:
#         print(f"{n[0]} Min.: {name} got score of {min_grade[1]}")
#     print(f"=============")
# max_score = max(out.items(), key = lambda x: x[1][1])[0]
# print(max_score)
# grades = ['A', 'B', 'C', 'D', 'F']
# for grade in grades:
#     out[grade] = []
    # tmp_stu = list(filter(lambda x: grading(x[1]) == grade, students.items()))
    # tmp_stu = list(map(list, tmp_stu))
    # print(tmp_stu)

#     # max_score = max(tmp_stu[:][1])
#     print(tmp_stu[:][:][1])
## Filter Max. and Min. students
    # max_stu = list(filter(lambda x: x == max(tmp)))

## Print resul

---

5) Write a Python function named **word_convert** that takes a list of words and a conversion type (**ctype**) as parameters. The function should convert the case of each word in the list based on the specified **ctype** and return a new list with the converted words. The function should support three conversion types:
    1) "upper": Convert all words to uppercase.
    2) "lower": Convert all words to lowercase.
    3) "title": Convert all words to title case (first letter of each word capitalized).
       
If an invalid **ctype** is provided, the function should display an error message indicating that the **ctype** should be one of "upper", "lower", or "title".

**Parameters:**

- data (list): A list containing words (strings) or other types that will be converted to strings.
- ctype (str, optional): A string that specifies the case conversion type. Defaults to 'upper'. It can be:
    - 'upper' for converting all words to uppercase.
    - 'lower' for converting all words to lowercase.
    - 'title' for converting all words to title case.

(4 points)

In [ ]:
# def word_convert(data: list, ctype:str='upper') -> list:
#     valid_type = ['upper', 'lower', 'title']
#     # check ctype
#     if ctype not in valid_type:
#         return "Please set ctype to upper, lower, or title"
    
    
#     # main func
#     # upper
#     if(ctype == 'upper'):
#         data_str = list(map(str, data))
#         data_str = list(map(str.upper, data_str))
#         return data_str

#     # lower
#     if(ctype == 'lower'):
#         data_str = list(map(str, data))
#         data_str = list(map(str.lower, data_str))
#         return data_str

#     # title
#     if(ctype == 'title'):
#         data_str = list(map(str, data))
#         data_str = list(map(str.title, data_str))
#         return data_str

In [8]:
def word_convert(data: list, ctype:str='upper') -> list:

    # convert all elements to string
    data = list(map(str,data))

    # define valid type
    valid_type = ['upper', 'lower', 'title']
    #method associate with each ctype
    method_type = [str.upper, str.lower, str.title]
    # create dict: ex: {'upper': str.upper()}
    method_dict = dict(zip(valid_type,method_type))
    # check ctype
    if ctype not in valid_type:
        return "Please set ctype to upper, lower, or title"
    else:
        # method_dict.get(ctype) --> ex. ctype = 'upper' : method_dict.get() will return str.uppper
        # apply returned method with map and data
        return list(
            map(method_dict.get(ctype),data)
            )

In [9]:
words_set1 = ["hellO", "worlD", "pythoN", "programminG", 2024]
words_set2 = ["hellO", 10, 3.5, "worlD", 7, 2.8]

In [10]:
# Expected output
print(word_convert(words_set1, 'upper'))
print(word_convert(words_set1, 'lower'))
print(word_convert(words_set1, 'title'))
print(word_convert(words_set1, 'invalid'))

['HELLO', 'WORLD', 'PYTHON', 'PROGRAMMING', '2024']
['hello', 'world', 'python', 'programming', '2024']
['Hello', 'World', 'Python', 'Programming', '2024']
Please set ctype to upper, lower, or title

In [11]:
# Expected output
print(word_convert(words_set2, 'upper'))
print(word_convert(words_set2, 'lower'))
print(word_convert(words_set2, 'title'))
print(word_convert(words_set2, 'invalid'))

['HELLO', '10', '3.5', 'WORLD', '7', '2.8']
['hello', '10', '3.5', 'world', '7', '2.8']
['Hello', '10', '3.5', 'World', '7', '2.8']
Please set ctype to upper, lower, or title

---

6) You are given a simple Python function named **word_upper** that converts any input to a string and then transforms it to uppercase. Your task is to use this function with the **map** built-in function to convert all elements in a list to uppercase.
(2 points)

In [12]:
def word_upper(x: str | int) -> str:
    return str.upper(str(x))

In [13]:
words_set1 = ["hellO", "worlD", "pythoN", "programminG", 2024]
words_set2 = ["hellO", 10, 3.5, "worlD", 7, 2.8]

In [14]:
# Expected output
print(list(map(word_upper, words_set1)))
print(list(map(word_upper, words_set2)))

['HELLO', 'WORLD', 'PYTHON', 'PROGRAMMING', '2024']
['HELLO', '10', '3.5', 'WORLD', '7', '2.8']

---