## Week04 assignment

#### 1. Lists: Basic Operations

Create a list my_list with the elements [2, 4, 6, 8, 10]. Perform the following operations:
- Add the number 12 to the end of the list.
- Remove the first element from the list.
- Insert the number 0 at the beginning of the list.
- Sort the list in descending order.

(5 points)

In [14]:
# create my_list (1 point)
my_list = [2,4,6,8,10]
my_list

[2, 4, 6, 8, 10]

In [15]:
# Add the number 12 to the end of the list (1 point)
my_list.append(12)
my_list

[2, 4, 6, 8, 10, 12]

In [16]:
# Remove the first element from the list. (1 point)
my_list.pop(0)
my_list

[4, 6, 8, 10, 12]

In [17]:
# Insert the number 0 at the beginning of the list. (1 point)
my_list.insert(0,0)
my_list

[0, 4, 6, 8, 10, 12]

In [18]:
# Sort the list in descending order. (1 point)
my_list.sort(reverse = True)
my_list

[12, 10, 8, 6, 4, 0]

---

#### 2. String and dictionary
Create a Python function to return the top five word counts from a tuple collection. The following is input, an example of a command, and its output. (5 points) <br> Hint: dict, split, strip, sorted, items, setdefault

In [19]:
# Input
text = """Conda is an open-source package management 
system and environment management system that 
runs on Windows, macOS, and Linux. Conda quickly 
installs, runs, and updates packages and their 
dependencies. Conda easily creates, saves, loads, 
and switches between environments on your local 
computer. It was created for Python programs but 
it can package and distribute software for any 
language."""

In [20]:
# def top5words(text):
#     rm_comma_dot = text.replace(",", "").replace(".", "")
#     words = rm_comma_dot.split()
#     out1 = {i: 0 for i in words} #initialize dict non-redundant word with 0 value
#     for word in words: #count word
#         if word in words:
#             out1[word] += 1 
#     sorted_word = sorted(out1.items(), key = lambda x: x[1], reverse=True)

#     return sorted_word[:5]

In [21]:
def top5words(text):
    rm_comma_dot = text.replace(",", "").replace(".", "")
    words = rm_comma_dot.split()
    out1 = {}
    for word in words: #count word
        #out1[word] = out1.setdefault(word,0)
        #out[word] += 1
        out1[word] = out1.get(word,0)+1
    sorted_word = sorted(out1.items(), key = lambda x: x[1], reverse=True)

    return sorted_word[:5]

In [22]:
print(top5words(text))

[('and', 6), ('Conda', 3), ('package', 2), ('management', 2), ('system', 2)]

---

#### 3. List, function, and data type
Create a Python function to return the summation of the input list. The following is input, an example of a command, and its output. (3 points)

In [23]:
# Input
nums = [2.6955299108500643, 2.759672514150976, 6.807621913680465,
        5.004164956713738, 3.727523590231052, 5.107519014760513, 
        0.5156673122499855, 7.9100971381593785, 1.6328238403889883, 
        4.1048914689154605, 1.0594628223792635, 8.804506282587008, 
        4.058383205207152, 6.644395878183786, 0.4924942010521782, 
        7.8806047669227555, 6.799589126679573, 0.5964671798531762, 
        1.2208743508866204, 4.909124347695921, 6.082730665225045, 
        '0.5383844572919905', '3.838049417110244', '5.649313148205868', 
        '9.595555247845123', '4.402530399438124', '6.894360024228962', 
        '0.9305584948701173', '1.373989288733889', '8.000115586062797', 
        '6.32146118009052', '6.92736844301111', '8.749100463268633', 
        '2.962635500661573', '2.7635645963467947', '0.7925118335313364', 
        '2.5164582418977846', '3.1741731190591382', '3.7095075516242293',
        '0.2701629812640449', '7.090926211816672', 8, 0, 8, 3, 9, 2, 3, 
        3, 8, 4, 3, 1, 6, 1, 3, 0, 3, 6, 2, 1, 1.692470344442134, 
        0.3519386001627045, 4.331377265242554, 1.5492411701242792, 
        0.7751931942826917, 0.010984199386151472, 5.178467048676896, 
        0.395066270897072, 3.4294263145659976, 7.119570706734152]

In [24]:
def sumNum(nums):
    return sum(map(float, nums)) #find sum by mapping every elements to float

In [25]:
sumNum(nums)

274.14860578764666

---

#### 4. Nested lists, assession, and functions
Create a Python function to return the summation of a selected column in the input list. The following is input, an example of a command, and its output. (4 points)

Input table:

|col1|col2|col3|
|---|---|---|
|1|2|3|
|4|5|6|
|7|8|9|

In [26]:
# Input
table = [[1,2,3],
         [4,5,6],
         [7,8,9]]

In [27]:
# sum = 0

# # for i in range(len(table)):
# #     for j in range((len(table))):
# #         print(table[i][j])

# x = 0
# for i in range(len(table)):
#     print(f'round: {i}: {table[i]}')
#     x += table[i][0]
#     print(x)

In [28]:
def sumCol(table, col):
    # sum_col = table[0][col] + table[1][col] + table[2][col] #find sum by calculate row 0-2 with different col 
    sum = 0
    for row in table:
        sum += row[col]
    return sum

In [29]:
print("col1:",sumCol(table, 0))
print("col2:",sumCol(table, 1))
print("col3:",sumCol(table, 2))

col1: 12
col2: 15
col3: 18

---

#### 5. List, Set, and function
Create a Python function to return the common values between two input lists. The following is input, an example of a command, and its output. (3 point)

In [30]:
L1 = ['W', 's', 'j', 'D', 'u', 't', 'n', 'C', 'A', 'E', 'D', 
      'o', 'J', 'O', 'f', 'l', 'I', 'U', 'q', 'O', 'R', 'X', 
      'm', 'j', 'N', 'j', 'N', 'z', 'J', 'u', 'R', 'p', 'b', 
      'B', 'B', 'g', 'E', 'W', 'l', 'Z', 'i', 'x', 'U', 'D', 
      'O', 'z', 'C', 'K', 'c', 'g']
L2 = ['R', 'B', 'V', 'q', 'L', 'F', 'U', 'u', 'w', 'X', 'M', 
      'm', 'u', 'w', 'G', 'P', 'H', 'I', 'L', 'J', 'S', 'F', 
      'u', 'D', 'k', 'l', 'g', 'W', 'P', 'V', 'e', 'p', 'P', 
      'K', 'V', 'B', 'j', 's', 'K', 'p', 'R', 'V', 'r', 'N', 
      'x', 'a', 'J', 't', 't', 'X']

In [31]:
def intersection(L1, L2):
    return set(L1)&set(L2)

In [32]:
print(intersection(L1,L2))

{'B', 's', 'q', 'u', 'I', 'J', 'U', 'j', 'N', 't', 'R', 'l', 'D', 'm', 'W', 'X', 'g', 'x', 'p', 'K'}

---